In [52]:
import pandas as pd

data = pd.read_fwf('https://raw.githubusercontent.com/qureshiaa/GDP-Countries/master/Countries%20with%20GDP.txt')

In [53]:
data

                                  List of countries:
0  'Algeria','Angola','Argentina','Australia','Au...
1                       GDP values for each country:
2  2255.225482,629.9553062,11601.63022,25306.8249...

In [54]:
data = pd.DataFrame(data)

In [55]:
data2 = data.drop(data.index[1])

In [56]:
data2

                                  List of countries:
0  'Algeria','Angola','Argentina','Australia','Au...
2  2255.225482,629.9553062,11601.63022,25306.8249...

In [57]:
data3 = data2.T

In [58]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, List of countries: to List of countries:
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1 non-null      object
 1   2       1 non-null      object
dtypes: object(2)
memory usage: 104.0+ bytes

In [59]:
data3.columns = ['Countries', 'GDP Numbers']
data3

,Countries,GDP Numbers
List of countries:,"'Algeria','Angola','Argentina','Australia','Au...","2255.225482,629.9553062,11601.63022,25306.8249..."

In [60]:
data3['GDP Numbers'].value_counts()

2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,1445.760002,4803.398244,2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,30860.12808,2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605    1
Name: GDP Numbers, dtype: int64

In [61]:
#data3['Countries'] = data3['Countries'].str.replace("'", '')

In [62]:
data3

,Countries,GDP Numbers
List of countries:,"'Algeria','Angola','Argentina','Australia','Au...","2255.225482,629.9553062,11601.63022,25306.8249..."

In [63]:
import numpy as np

countries = np.array(['Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh',
                     'Belarus','Belgium','Bhutan','Brazil','Bulgaria','Cambodia','Cameroon','Chile','China',
                     'Colombia','Cyprus','Denmark','El Salvador','Estonia','Ethiopia','Fiji','Finland','France',
                     'Georgia','Ghana','Grenada','Guinea','Haiti','Honduras','Hungary','India','Indonesia','Ireland',
                     'Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia','Mexico', 'Morocco','Nepal','New Zealand',
                     'Norway','Pakistan', 'Peru','Qatar','Russia','Singapore','South Africa','Spain','Sweden',
                     'Switzerland','Thailand', 'United Arab Emirates',
                     'United Kingdom','United States','Uruguay','Venezuela','Vietnam','Zimbabwe'])

gdp_numbers = np.array([2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,
                        588.3691778,2890.345675,24733.62696,1445.760002,4803.398244,2618.876037,
                        590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,30860.12808,
                        2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,
                        402.6953275,6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,837.7464011,
                        1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,
                        5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,40034.85063,672.1547506,
                        3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,
                        39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,
                        757.4009286,347.7456605])

In [64]:
max_gdp = gdp_numbers.argmax()
max_gdp

45

In [65]:
country_with_max_gdp = countries[max_gdp]
country_with_max_gdp

'Norway'

In [66]:
min_gdp = gdp_numbers.argmin()
min_gdp

21

In [67]:
country_with_min_gdp = countries[min_gdp]
country_with_min_gdp

'Ethiopia'

In [68]:
mean_gdp_numbers = gdp_numbers.mean()
mean_gdp_numbers

11289.409271639683

In [69]:
sum_gdp_numbers = gdp_numbers.sum()
sum_gdp_numbers

711232.7841133

In [70]:
std_gdp_numbers = gdp_numbers.std()
std_gdp_numbers

12743.828910617945

In [71]:
together = np.concatenate([countries,gdp_numbers])
together

array(['Algeria', 'Angola', 'Argentina', 'Australia', 'Austria',
       'Bahamas', 'Bangladesh', 'Belarus', 'Belgium', 'Bhutan', 'Brazil',
       'Bulgaria', 'Cambodia', 'Cameroon', 'Chile', 'China', 'Colombia',
       'Cyprus', 'Denmark', 'El Salvador', 'Estonia', 'Ethiopia', 'Fiji',
       'Finland', 'France', 'Georgia', 'Ghana', 'Grenada', 'Guinea',
       'Haiti', 'Honduras', 'Hungary', 'India', 'Indonesia', 'Ireland',
       'Italy', 'Japan', 'Kenya', 'South Korea', 'Liberia', 'Malaysia',
       'Mexico', 'Morocco', 'Nepal', 'New Zealand', 'Norway', 'Pakistan',
       'Peru', 'Qatar', 'Russia', 'Singapore', 'South Africa', 'Spain',
       'Sweden', 'Switzerland', 'Thailand', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Venezuela',
       'Vietnam', 'Zimbabwe', '2255.225482', '629.9553062', '11601.63022',
       '25306.82494', '27266.40335', '19466.99052', '588.3691778',
       '2890.345675', '24733.62696', '1445.760002', '4803.398244',
       '2618.876037', '590.4521124', '665.7982328', '7122.938458',
       '2639.54156', '3362.4656', '15378.16704', '30860.12808',
       '2579.115607', '6525.541272', '229.6769525', '2242.689259',
       '27570.4852', '23016.84778', '1334.646773', '402.6953275',
       '6047.200797', '394.1156638', '385.5793827', '1414.072488',
       '5745.981529', '837.7464011', '1206.991065', '27715.52837',
       '18937.24998', '39578.07441', '478.2194906', '16684.21278',
       '279.2204061', '5345.213415', '6288.25324', '1908.304416',
       '274.8728621', '14646.42094', '40034.85063', '672.1547506',
       '3359.517402', '36152.66676', '3054.727742', '33529.83052',
       '3825.093781', '15428.32098', '33630.24604', '39170.41371',
       '2699.123242', '21058.43643', '28272.40661', '37691.02733',
       '9581.05659', '5671.912202', '757.4009286', '347.7456605'],
      dtype='<U32')

In [72]:
for numbers in gdp_numbers:
    gdp_numbers_new = numbers
    print (gdp_numbers_new)

2255.225482
629.9553062
11601.63022
25306.82494
27266.40335
19466.99052
588.3691778
2890.345675
24733.62696
1445.760002
4803.398244
2618.876037
590.4521124
665.7982328
7122.938458
2639.54156
3362.4656
15378.16704
30860.12808
2579.115607
6525.541272
229.6769525
2242.689259
27570.4852
23016.84778
1334.646773
402.6953275
6047.200797
394.1156638
385.5793827
1414.072488
5745.981529
837.7464011
1206.991065
27715.52837
18937.24998
39578.07441
478.2194906
16684.21278
279.2204061
5345.213415
6288.25324
1908.304416
274.8728621
14646.42094
40034.85063
672.1547506
3359.517402
36152.66676
3054.727742
33529.83052
3825.093781
15428.32098
33630.24604
39170.41371
2699.123242
21058.43643
28272.40661
37691.02733
9581.05659
5671.912202
757.4009286
347.7456605

In [73]:
for i in range(len(countries)):
    country = countries[i]
    country_gdp = gdp_numbers[i]
    print(i + 1,country,'is',country_gdp)

1 Algeria is 2255.225482
2 Angola is 629.9553062
3 Argentina is 11601.63022
4 Australia is 25306.82494
5 Austria is 27266.40335
6 Bahamas is 19466.99052
7 Bangladesh is 588.3691778
8 Belarus is 2890.345675
9 Belgium is 24733.62696
10 Bhutan is 1445.760002
11 Brazil is 4803.398244
12 Bulgaria is 2618.876037
13 Cambodia is 590.4521124
14 Cameroon is 665.7982328
15 Chile is 7122.938458
16 China is 2639.54156
17 Colombia is 3362.4656
18 Cyprus is 15378.16704
19 Denmark is 30860.12808
20 El Salvador is 2579.115607
21 Estonia is 6525.541272
22 Ethiopia is 229.6769525
23 Fiji is 2242.689259
24 Finland is 27570.4852
25 France is 23016.84778
26 Georgia is 1334.646773
27 Ghana is 402.6953275
28 Grenada is 6047.200797
29 Guinea is 394.1156638
30 Haiti is 385.5793827
31 Honduras is 1414.072488
32 Hungary is 5745.981529
33 India is 837.7464011
34 Indonesia is 1206.991065
35 Ireland is 27715.52837
36 Italy is 18937.24998
37 Japan is 39578.07441
38 Kenya is 478.2194906
39 South Korea is 16684.21278
40 Liberia is 279.2204061
41 Malaysia is 5345.213415
42 Mexico is 6288.25324
43 Morocco is 1908.304416
44 Nepal is 274.8728621
45 New Zealand is 14646.42094
46 Norway is 40034.85063
47 Pakistan is 672.1547506
48 Peru is 3359.517402
49 Qatar is 36152.66676
50 Russia is 3054.727742
51 Singapore is 33529.83052
52 South Africa is 3825.093781
53 Spain is 15428.32098
54 Sweden is 33630.24604
55 Switzerland is 39170.41371
56 Thailand is 2699.123242
57 United Arab Emirates is 21058.43643
58 United Kingdom is 28272.40661
59 United States is 37691.02733
60 Uruguay is 9581.05659
61 Venezuela is 5671.912202
62 Vietnam is 757.4009286
63 Zimbabwe is 347.7456605